__pycache__/*
bakend/__pycache__/*
backend/__pycache__/*
backend/api/__pycache__/*
frontend/.angular/
frontend/node_modules/
frontend/dist/
.venv
.history
backend/api/__pycache__/__init__.cpython-314.pyc
backend/api/__pycache__/community.cpython-314.pyc
backend/api/__pycache__/maintenance.cpython-314.pyc
backend/api/__pycache__/objects.cpython-314.pyc
backend/api/__pycache__/users.cpython-314.pyc
